.div{
  position: relative;
  height: 85%;
}

.div_settings{
  padding: 0 1rem;
  cursor: default;
  > div{
    width: 45%;
    background-color: white;
    display: flex;
    padding: 1rem;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    white-space: nowrap;
    > h2{

    }
  }
}

.div_link{
  > div{
    margin-top: 0.3rem;
    margin-left: 0.4rem;
    position: relative;

    &:hover .hide_div {
      display: block;
    }
    > p{
      font-size: 0.75rem;
    }
  }
  > input{
    margin-left: 1rem;
    width: 100%;
    outline: none;
    font-size: 1.1rem;
    border-radius: 7px;
    border: 1px solid #b67afe;
  }
}

.div_status{
  > select{
    outline: none;
    font-size: 0.8rem;
    border-radius: 7px;
    border: 1px solid #b67afe;
    height: 25px;

    > option{
      outline: none;
      font-size: 0.8rem;
      border-radius: 7px;
      border: 1px solid #b67afe;
    }
  }
}

.hide_div{
  display: none;
  box-shadow: 1px 1px 7.6px 0px rgba(0, 0, 0, 0.25);
  z-index: 999;
  padding: 0.3rem 0.2rem;
  margin-bottom: 0.5rem;
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 12rem;
  font-size: 0.7rem;
  background-color: white;
  white-space: normal;
}

.div_navigation{
  position: absolute;
  bottom: 0;
  right: 0;
}
