
.chat_div {
  cursor: pointer;
  width: 100%;
  position: relative;
  display: flex;
  flex: 1;
  overflow: hidden;
  max-width: 100%;
  background-color: white;
  border-radius: 15px;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  align-items: center;
  > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
  }
  .chat_div_item {
    width: 100%;
    display: flex;
    .chat_div_item1 {
      max-width: 60.3rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 1rem;
      z-index: 1;
      h2
      {
        font-size: 0.8rem;
      }
      h5
      {
        font-size: 0.6rem;
        color:gray;
      }
    }
    .chat_div_item2 {
      margin-right: 1rem;
      > h5 {
        margin-bottom: 1rem;
      }
      
      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fba500;
        color: white;
        border-radius: 15rem;
        padding: 0 1rem;
      }
    }
    .chat_div_item3 {
      margin-right: 2rem;
    }
  }
  .modal_div {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}