@import "src/mixins.scss";

.button {
  border: 1px solid #b67afe;
  font-family: "Geometria", sans-serif;
  border-radius: 20px;
  background-color: transparent;
  color: #b67afe;
  width: 100%;
  padding: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  @include hover-scale;
}
